= semantic_form_for(@invoice) do |f|
  - labour_errors = []
  - part_errors   = []
  - @invoice.errors.each do |attribute,errors_array|
    - labour_errors.push(errors_array) unless attribute.to_s == 'invoice_labours.invoice_id' if attribute.to_s =~ /invoice_labours/
    - part_errors.push(errors_array) unless attribute.to_s == 'invoice_parts.invoice_id' if attribute.to_s =~ /invoice_parts/
  
  - if @invoice.errors.any?
    .errorExplanation
      %h3 Errors were found when trying to create invoice
      %p Please review the information in the form below and correct any errors.

  = f.inputs do
    = f.input :customer, :label_method => :short_code, :required => true
    = f.input :date, :hint => 'This will automatically be set to today if left blank'
    = f.input :make_model, :label => 'Make/Model'
    = f.input :registration, :label => 'Reg. No.'
    = f.input :mileage, :hint => "Don't put any commas in here"
    = f.input :vat_rate, :label => 'VAT Rate'
    = f.input :environmental
    = f.input :mot
    = f.input :paid, :as => :radio, :label => 'Paid?'
  
  %table{ :width => '100%' }
    %tr
      %td{ :width => '50%' }
        
        - unless labour_errors.empty?
          .errorExplanation
            %h3 Errors were found when trying to process these labour entries
      
        %h6= 'Labour'
        %table#invoice_labours{ :width => '100%' }
          %thead
            %tr
              %th{ :width => '75%' }
                Details
              %th{ :width => '25%' }
                Price (&pound;)
              %th
          %tbody
            = f.semantic_fields_for :invoice_labours do |l|
              = render :partial => 'invoice_labours_form', :locals => { :f => l }
        = add_invoice_labours_link(f)
                  
      %td{ :width => '50%' }
        
        #parts
          - unless part_errors.empty?
            .errorExplanation
              %h3 Errors were found when trying to process these part entries
          
          %h6= 'Parts'
          %table#invoice_parts{ :width => '100%' }
            %thead
              %tr
                %th{ :width => '75%' }
                  Details
                %th{ :width => '25%' }
                  Price (&pound;)
                %th
            %tbody
              = f.semantic_fields_for :invoice_parts do |l|
                = render :partial => 'invoice_parts_form', :locals => { :f => l }
          = add_invoice_parts_link(f)
  
  = f.buttons