= semantic_form_for(@customer) do |f|
  = f.inputs do
    = f.input :customer_title
    = f.input :first_name
    = f.input :last_name
    = f.input :company
    = f.input :address_line1
    = f.input :address_line2
    = f.input :town
    = f.input :county
    = f.input :post_code
    = f.input :telephone
    = f.input :mobile
    = f.input :fax
    = f.input :email
    = f.input :notes
    
  = f.buttons
